.hero__wrapper {
   position: relative;
   padding: 5rem 0;
}
.hero {
    padding: 25rem 0 10rem;
    position: relative;
    background-image: url('../img/img1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border: .2rem solid rgba( 255, 255, 255, 0.18 );
}
.hero__content {
    position: relative;
}
.hero .text-block {
    margin-bottom: 25rem;
}
.hero .img {
    margin-bottom: 3rem;
}
.hero .item:not(:last-child) {
    margin-bottom: 10rem;
    position: relative;
}
.sub-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.sub-item:not(:last-child) {
    margin-right: 1rem;
}
.sub-img {
    width: 4rem;
}

@media screen and (min-width: 1024px)  {
 
}
