.info__wrapper   {
   /* background-color: var(--third-brand-color); */
}
.info {
   padding: 25rem 0;
}
.info .item:not(:last-child) {
   margin-bottom: 15rem;
}
.info .img {
   margin-bottom: 3rem;
   margin-bottom: 0;
}
.info .text-block {
   max-width: 70rem;
   margin: 0 auto;
   padding: 3rem 1rem;
   margin-top: -8rem;
   background: rgba( 255, 255, 255, 0.5 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border: .2rem solid rgba( 255, 255, 255, 0.18 );
}
.info .text {
   color: var(--sub-text-color);
   margin-bottom: 0;
}
.info .text.bold {
   padding-bottom: 2rem;
   margin-bottom: 3rem;
   position: relative;
   display: inline-block;
}
.info .text.bold::after {
   display: block;
   content: '';
   position: absolute;
   height: 0.2rem;
   width: 70%;
   background-color: var(--sub-text-color);
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0);
}
@media screen and (min-width: 768px)  {
   .info .text-block {
      margin-top: -14rem;
   }
}
@media screen and (min-width: 1440px)  {
   .info .item {
      display: flex;
      align-items: center;
   }
   .info .text-block {
      padding: 7rem;
      margin-top: 0;
      margin-left: -8rem;
   }
   .info .item:nth-child(even) {
      flex-direction: row-reverse;
   }
   .info .item:nth-child(even) .text-block {
      margin-left: 0;
      margin-right: -8rem;
   }
}


